node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

app-link:
https://expo.dev/accounts/iidapeltonen/projects/iipi-6/builds/7ffa2c25-9fd9-4569-8622-f86a46379a3f
