node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

app-link:
https://expo.dev/accounts/iidapeltonen/projects/iipi-6/builds/027806d1-22b4-424a-add3-9f8a9d293584
